# Data - jangan commit dataset mentah
data/raw/*
data/processed/*
data/splits/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/splits/.gitkeep

# Model artifacts
models/*
!models/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
